Processing Arguments [--cwd,/home/alex/.vscode/extensions/vshaxe-build,-cp,src,-D,analyzer-optimize,-D,js-enums-as-arrays,-D,js-es=6,-D,js_unflatten,-lib,hxnodejs,-lib,jstack,-lib,hxargs,-lib,json2object,-lib,vscode,-lib,vshaxe,-debug,-js,extension.js,-main,vshaxeBuild.tools.SchemaGenerator,-D,display-details,--no-output,--display,{"jsonrpc":"2.0","id":0,"method":"initialize","params":{"supportsResolve":true}}]
Processing Arguments [--cwd,/home/alex/.vscode/extensions/vshaxe-build,-cp,src,-D,analyzer-optimize,-D,js-enums-as-arrays,-D,js-es=6,-D,js_unflatten,-lib,hxnodejs,-lib,jstack,-lib,hxargs,-lib,json2object,-lib,vscode,-lib,vshaxe,-debug,-js,extension.js,-main,vshaxeBuild.tools.SchemaGenerator,-D,display-details,--no-output,--display,{"jsonrpc":"2.0","id":1,"method":"server/configure","params":{"noModuleChecks":true,"print":{"completion":true,"reusing":false}}}]
Processing Arguments [-cp,src,-D,analyzer-optimize,-D,js-enums-as-arrays,-D,js-es=6,-D,js_unflatten,-lib,hxnodejs,-lib,jstack,-lib,hxargs,-lib,json2object,-lib,vscode,-lib,vshaxe,-debug,-js,extension.js,-main,vshaxeBuild.tools.SchemaGenerator,--no-output]
Processing Arguments [--cwd,/home/alex/.vscode/extensions/vshaxe-build,-cp,src,-D,analyzer-optimize,-D,js-enums-as-arrays,-D,js-es=6,-D,js_unflatten,-lib,hxnodejs,-lib,jstack,-lib,hxargs,-lib,json2object,-lib,vscode,-lib,vshaxe,-debug,-js,extension.js,-main,vshaxeBuild.tools.SchemaGenerator,-D,display-details,--no-output,--display,{"jsonrpc":"2.0","id":2,"method":"server/readClassPaths"}]